{% extends "base.html" %}
{% block title %}
Preferences
{% endblock %}
{% block stylesheet %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/prefstyle.css') }}">
{% endblock %}
{% block header_nav %}
<nav class="nav-menu d-none d-lg-block">
    <ul>
      <li><a href="/profile">Home</a></li>
      <li class="active"><a href="/preference">Preferences</a></li>
      <li><a href="/dashboard">Dashboard</a></li>
    </ul>
  </nav>
  {% endblock %}
{% block form %}
<section id="register">
    <form action='/preference' method="POST">
    <div class='login' >
        
            <div class="login-screen">
                <div class="app-title">
                    <h1>Preferences</h1>
                </div>
                
                    <div class="control-group">
                        <label>City: </label>
                        <input type="text" id="city" name="city" placeholder="Your travel city">
                    </div>
                    <!-- <div class="control-group">
                        <label>Departure date: </label>
                        <input type="date" id="dep" name="date" placeholder="Departure Date">
                    </div>
                    <div class="control-group">
                        <label>Arrival date: </label>
                        <input type="text" id="arr" name="date" placeholder="Arrival Date">
                    </div> -->
                    <div class="control-group">
                        <label>Interests</label>
                    </div>
                    <div class="control-group">
                        
                        <label class="container">Historic Sites
                            <input type="checkbox" name="historic">
                            <!-- <span class="checkmark"></span> -->
                        </label>
                        <label class="container">Architecture
                            <input type="checkbox" name="architecture">
                            <!-- <span class="checkmark"></span> -->
                        </label>
                        <label class="container">Cultural
                            <input type="checkbox" name="cultural">
                            <!-- <span class="checkmark"></span> -->
                        </label>
                        <label class="container">Nature
                            <input type="checkbox" name="natural">
                            <!-- <span class="checkmark"></span> -->
                        </label>
                        <label class="container">Religious places
                            <input type="checkbox" name="religion">
                            <!-- <span class="checkmark"></span> -->
                        </label>
                        <label class="container">Sports
                            <input type="checkbox" name="sport">
                            <!-- <span class="checkmark"></span> -->
                        </label>
                        <label class="container">Restaurants
                            <input type="checkbox" name="foods">
                            <!-- <span class="checkmark"></span> -->
                        </label>
                        <label class="container">Museums
                            <input type="checkbox" name="museums">
                            <!-- <span class="checkmark"></span> -->
                        </label>
                    </div>
                    <input type="submit" value="Submit" class="btn btn-primary btn-large btn-block">
                
            </div>
        
    </div>
</form>
</section>
{% endblock %}
